<!-- 4x1 Layout -->
<template id="layout">
  <div id="layout-4x1">
    <article class="item hide">
      <img class="image" />
      <div class="textWrapper">
        <h1 class="headline headline_font-style">
          <a class="headline_font-style" target="_blank"></a>
        </h1>
        <div class="meta">
          <span class="timestamp timestamp_font-style"></span>
          <span class="separator">-</span>
          <span class="author author_font-style"></span>
        </div>
        <p class="story story_font-style"></p>
      </div>
    </article>
  </div>
</template>
