<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RSS Settings</title>

  <link rel="stylesheet" href="css/settings.min.css"/>

  <style>
    body, html {
      background: transparent;
    }

    .landscape-layout {
      width: 160px;
    }

    .portrait-layout {
      width: 70px;
    }

    /*reduces size of tooltip for small desktop screens and above*/
    @media (min-width:992px) {
      .popover {
        max-width: 120px;
      }
    }
  </style>

  <!-- FullStory -->
  <script>window['_fs_is_outer_script'] = true; window['_fs_debug'] = false; window['_fs_host'] = 'www.fullstory.com'; window['_fs_org'] = 'U3O'; (function(m,n,e,t,l,o,g,y){ g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[]; o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js'; y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y); g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)}; g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;FS(o,v)}; g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+ ';path=/;expires='+new Date(0);i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}} })(window,document,'FS','script','user');</script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
  <!-- if AngularJS fails to load fallback to a local version -->
  <script>window.angular || document.write(unescape("%3Cscript src='js/vendor/angular/angular.min.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!-- build:e2eTinymce -->
  <script src="js/vendor/tinymce/tinymce.min.js"></script>
  

</head>
<body ng-app="risevision.widget.rss.settings" ng-controller="settingsController">
<div class="container-fluid image-settings-fs">
  <div class="modal-dialog modal-lg">
    <div class="modal-content scrollable-list" ng-controller="rssSettingsController" ng-cloak>

      <!-- Modal Header-->
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeSettings()">
          <i class="fa fa-times half-top"></i>
        </button>
        <h2 class="modal-title">
          {{"widget-rss.settings" | translate }}
          <a class="btn btn-link" href="https://github.com/Rise-Vision/widget-rss" target="_blank">
            <i class="fa fa-github fa-2x icon-gray"></i>
          </a>
        </h2>
      </div>

      <!-- Modal Body-->
      <form role="form" name="settingsForm">
        <div class="modal-body">

          <!-- RSS URL-->
          <div class="form-group">
            <url-field id="rssUrl" name="rssUrl" ng-model="myurlfield" url="settings.additionalParams.url" valid init-empty></url-field>

            <p id="invalid-feed" ng-if="!feedValid" class="text-danger">{{ "widget-rss.warning.message" | translate }} <a ng-href="https://validator.w3.org/feed/check.cgi?url={{settings.additionalParams.url | escape}}" target="_blank">{{ "widget-rss.warning.anchor" | translate}}</a>.</p>
            <p id="authentication" ng-if="requiresAuthentication" class="text-danger">{{ "widget-rss.authentication-warning.message" | translate }}.</p>
            <p id="not-a-feed" ng-if="notAFeed" class="text-danger">{{ "widget-rss.not-a-feed-warning.message" | translate }}.</p>
          </div><!-- END RSS URL-->

          <div class="row">
            <!-- Items to Show -->
            <div class="col-md-3" ng-if="!horizontalScrolling">
              <div class="form-group">
                <label class="control-label">{{ "widget-rss.item.itemsToShow" | translate }}</label>
                <input id="items-to-show" type="number" class="form-control" ng-model="settings.additionalParams.itemsToShow">
              </div>
            </div>
            <!-- End Items to Show -->

            <!-- Max Items in Queue -->
            <div class="col-md-3">
              <div class="form-group">
              <label class="control-label">{{ "widget-rss.item.maxItemsInQueue" | translate }}</label>
              <input type="number" class="form-control" ng-model="settings.additionalParams.itemsInQueue">
              </div>
            </div>
            <!-- End Max Items in Queue -->
          </div>

          <hr/>

          <!--Transition-->
          <transition-setting transition="settings.additionalParams.transition"></transition-setting>
          <hr/>

          <!-- Data Selection -->
          <label class="control-label add-top">{{ "widget-rss.data-selection.heading" | translate }}</label>

          <div class="row">
            <div class="checkbox">
              <div class="form-group">

                <!-- Show Title -->
                <div class="col-md-3">
                  <label class="add-bottom">
                    <input type="checkbox" ng-model="settings.additionalParams.dataSelection.showTitle">
                    {{ "widget-rss.data-selection.showTitle" | translate }}
                  </label>
                </div>
                <!-- End Show Title -->

                <!-- Show Timestamp -->
                <div class="col-md-3">
                  <label class="add-bottom">
                    <input type="checkbox" ng-model="settings.additionalParams.dataSelection.showTimestamp">
                    {{ "widget-rss.data-selection.showTimestamp" | translate }}
                  </label>
                </div>
                <!-- End Show Timestamp -->

                <!-- Show Author -->
                <div class="col-md-3">
                  <label class="add-bottom">
                    <input type="checkbox" ng-model="settings.additionalParams.dataSelection.showAuthor">
                    {{ "widget-rss.data-selection.showAuthor" | translate }}
                  </label>
                </div>
                <!-- End Show Author -->

                <!-- Show Image -->
                <div class="col-md-3" ng-if="!horizontalScrolling">
                  <label class="add-bottom">
                    <input type="checkbox" ng-model="settings.additionalParams.dataSelection.showImage">
                    {{ "widget-rss.data-selection.showImage" | translate }}
                  </label>
                </div>
                <!-- End Show Image -->

              </div>
            </div>
          </div>

          <div class="row">
            <div class="radio">
              <div class="col-md-3">
                <label class="radio-inline add-bottom">
                  <input type="radio" ng-model="settings.additionalParams.dataSelection.showDescription" value="snippet">
                  {{ "widget-rss.data-selection.showDescriptionSnippet" | translate }}
                </label>
              </div>
              <div class="col-md-3">
                <label class="radio-inline add-bottom">
                  <input type="radio" ng-model="settings.additionalParams.dataSelection.showDescription" value="full">
                  {{ "widget-rss.data-selection.showFullDescription" | translate }}
                </label>
              </div>
            </div>
          </div>

          <div class="row" ng-if="settings.additionalParams.dataSelection.showDescription === 'snippet'">
            <!--Snippet length-->
            <div class="fadeDiv box">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">{{"widget-rss.data-selection.snippetLength" | translate }}</label>
                  <div class="input-group">
                    <input id="snippetLength" name="snippetLength" type="number"  class="form-control" ng-model="settings.additionalParams.dataSelection.snippetLength">
                    <span class="input-group-addon">{{"widget-rss.data-selection.snippetLengthMeasure" | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Data Selection -->

          <hr>

          <!--Heading Format-->
          <div class="row" ng-if="settings.additionalParams.dataSelection.showTitle">
            <div class="col-md-12">
              <label class="control-label">{{"widget-rss.title-format.heading" | translate }}</label>
              <font-setting id="title-font" font-data="settings.additionalParams.headline.fontStyle"
                            preview-text="{{'widget-rss.title-format.text' | translate }}">
              </font-setting>
            </div>
          </div>
          <!--End Heading Format-->

          <!--Story Format-->
          <div class="row">
            <div class="col-md-12">
              <label class="control-label">{{"widget-rss.story-format.heading" | translate }}</label>
              <font-setting id="story-font" font-data="settings.additionalParams.story.fontStyle"
                            preview-text="{{'widget-rss.story-format.text' | translate }}">
              </font-setting>
            </div>
          </div>
          <!--End Story Format-->

          <!--Date Format-->
          <div class="row" ng-if="settings.additionalParams.dataSelection.showTimestamp">
            <div class="col-md-12">
              <label class="control-label">{{"widget-rss.timestamp-format.heading" | translate }}</label>
              <font-setting id="timestamp-font" font-data="settings.additionalParams.timestamp.fontStyle"
                            preview-text="{{'widget-rss.timestamp-format.text' | translate }}">
              </font-setting>
            </div>
          </div>
          <!--End Date Format-->

          <!--Author Format-->
          <div class="row" ng-if="settings.additionalParams.dataSelection.showAuthor">
            <div class="col-md-12">
              <label class="control-label">{{"widget-rss.author-format.heading" | translate }}</label>
              <font-setting id="author-font" font-data="settings.additionalParams.author.fontStyle"
                            preview-text="{{'widget-rss.author-format.text' | translate }}">
              </font-setting>
            </div>
          </div>
          <!--End Author Format-->

          <hr/>

          <!-- Layout -->
          <div id="layouts" ng-if="!horizontalScrolling">
            <label class="control-label">
              {{" widget-rss.layout.heading" | translate }}
            </label>
            <div class="row">
              <div class="form-group">

                <div class="col-md-3 radio-vertical-align add-bottom">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-4x1">
                  <label class="radio-inline">
                    <img class="landscape-layout" src="img/layout-4x1.png">
                  </label>
                </div>

                <div class="col-md-3 radio-vertical-align add-bottom">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-2x1">
                  <label class="radio-inline">
                    <img class="landscape-layout" src="img/layout-2x1.png">
                  </label>
                </div>

                 <div class="col-md-3 radio-vertical-align add-bottom">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-16x9">
                  <label class="radio-inline">
                    <img class="landscape-layout" src="img/layout-16x9.png">
                  </label>
                </div>

                <div class="col-md-3 radio-vertical-align">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-1x2">
                  <label class="radio-inline">
                    <img class="portrait-layout" src="img/layout-1x2.png">
                  </label>
                </div>

                <div class="col-md-3 radio-vertical-align">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-photo">
                  <label class="radio-inline">Layout Photo</label>
                </div>
                <div class="col-md-3 radio-vertical-align">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-photo_dark">
                  <label class="radio-inline">Layout Photo Dark</label>
                </div>
                <div class="col-md-3 radio-vertical-align">
                  <input type="radio" ng-model="settings.additionalParams.layout" value="layout-poster">
                  <label class="radio-inline">Layout Poster</label>
                </div>

              </div>
            </div>

            <!-- Custom Layout -->
            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <label class="radio-inline">
                    <input type="radio" ng-model="settings.additionalParams.layout" value="custom">
                    {{" widget-rss.layout.custom" | translate }}
                  </label>
                </div>
              </div>
            </div>

            <div id="custom-layout" class="half-top" ng-if="settings.additionalParams.layout === 'custom'">
              <div class="form-group">
                <input type="url" class="form-control" placeholder="http://" ng-model="settings.additionalParams.layoutUrl">
              </div>
            </div>

          </div>
          <!-- End Layout -->

          <br>

          <!-- Separator -->
          <label class="control-label add-top">{{ "widget-rss.separator.heading" | translate }}</label>

          <div class="row">
            <div class="col-md-3">
              <input class="half-top half-bottom" type="checkbox" ng-model="settings.additionalParams.separator.show">
              {{ "widget-rss.separator.option" | translate }}
            </div>
            <div ng-if="settings.additionalParams.separator.show">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <input id="separator-size" type="number" class="form-control"
                           ng-model="settings.additionalParams.separator.size" />
                    <span class="input-group-addon">{{'common.units.pixels' | translate}}</span>
                  </div>
                </div>
              </div>
              <!-- Color -->
              <div class="col-md-3">
                <div class="input-group" colorpicker="rgb" colorpicker-parent="true" ng-model="settings.additionalParams.separator.color">
                  <input class="form-control" type="text" ng-model="settings.additionalParams.separator.color">
                  <span class="input-group-addon color-wheel"></span>
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <!-- Modal Footer-->
          <div class="modal-footer">
            <!-- Button Toolbar -->
            <widget-button-toolbar save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid">
            </widget-button-toolbar>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  if (typeof jQuery == "undefined") {
    document.write(unescape("%3Cscript src='js/vendor/jquery/dist/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
  }
</script>

<script src="js/settings.min.js"></script>

<!-- build:e2egadgets -->
<script src="gadgets/gadgets.min.js"></script>


<!-- Get from Bower if needed. -->
<script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>

</body>
</html>
